<div class="btn-group center">
  <button type="button" class="btn btn-default btn-lg" (click)="firstItem()">
    <span class="glyphicon glyphicon-fast-backward"></span>
  </button>
  <button type="button" class="btn btn-default btn-lg" (click)="previousItem()">
    <span class="glyphicon glyphicon-step-backward"></span>
  </button>
  <button type="button" class="btn btn-default btn-lg" (click)="nextItem()">
    <span class="glyphicon glyphicon-step-forward"></span>
  </button>
  <button type="button" class="btn btn-default btn-lg" (click)="lastItem()">
    <span class="glyphicon glyphicon-fast-forward"></span>
  </button>
</div>
