div.photo-viewer {
  background-color: white;
  box-shadow: 0 4px 8px 0;
  display: block;
  margin: auto;
  width: 50%;
}

div img {
  display: block;
  margin: auto;
  padding: 20px;
}

div.buttons-container {
  text-align: center;
  padding: 10px;
}
